@import "components/_reset.scss";
@import "components/_mixins.scss";
@import "components/_typography.scss";


body,html {height: 100%; 
           background-color: #131d39;
}
.bkg-img
{
    // background: url('../../rep-images/HeroBackground.png');

    background-size: cover;
    background-repeat: no-repeat;
    background: url('../../rep-images/bonestell.png') no-repeat center center fixed ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}


.main-container.future
{

   //padding: 0 0;
    width: 100%;
     
    color: white;
 
   
    margin: auto;
    text-align: center;
    height: 100%;

    .flex-container
    {
          
    @include forLargeScreens(640) {
        
        display: flex;
    } 

        align-items: center;  
        justify-content: center;
        background-color: transparent;
         
    }
    .box-item
    {

        display: flex;
        align-items: center;  
        width:100%;
        height: 100%;
        justify-content: center;
        color: black;
        background: transparent;
        text-align: center;
                
        @include forLargeScreens(640) {

            width: 50%;

        }
        .center-item
        {

            width: 85%;
            .image-title
            {
                font-size: 35px;
                color: #eee;
                margin-top: 10px;
            }
        }

    }

}
header 
{


    border-bottom: 1px solid #ccc;
}
footer
{


    border-top: 1px solid #ccc;



    .footer-main
    {

        color: white;
    }

}


header,footer
{
    height: 10%;
    background: $green-color;
    text-align:center;
    padding-top: 2%;
    @include forLargeScreens(800) {

            padding-top: 1%;

        }
    font-size: 20px;


}



