@import "components/_reset.scss";
@import "components/_mixins.scss";
@import "components/_typography.scss";
@import "components/_grid.scss";
@import "components/_flex-box-grid.scss";
@import "components/_modular.scss";
@import "components/_buttons.scss";
@import "components/_myMenu.scss";
@import "components/_tables.scss";


.grid
{
    border: thin solid yellow;
    background-color: goldenrod;
    text-align: center;
}

.content
{

    background-color:  darkslategrey;
    height: 100px;
    padding-top: 45px;
}

header,footer
{
    height: 100px;
    text-align:center;
    padding-top: 40px;
    font-size: 20px;
}

nav
{
    height: 300px;
    text-align: center;
    padding-top: 140px;
    background-color: $blue_color;

}


.black
{
    background-color: black;
    padding: 10px;
    text-align: center;

}

header 
{
    background-color: $green_color;
}
footer
{
    background-color: $red_color;
}




body
{

    margin: 10px;
    color: aliceblue;
}

.main-container.three-column-demo
{
    background-color: slategray;
    padding: 0 0;
    margin: 0 auto;
    text-align: left;
    .flex-container
    {

        align-items: center;  
        justify-content: center;




    }
    .box-item
    {

        display: flex;
        align-items: center;  
        justify-content: center;
        color: black;
        background-color:  bisque;
        margin-top: 1%;

        min-height: 110px;
        @include forLargeScreens(640) {

            width: 33%;
            margin : 1%;
            &:first-of-type { margin-left: 0; }
            &:last-of-type { margin-right: 0; }
        }
        .center-item
        {
            border: thin solid $green_color;
            padding: 10px;
            width: 85%;



        }

    }

}