.bigger
{
    font-size: ms(3)
}
//Main container
.main-container {
    width: 100%;
    //Change this value to ANYTHING you want,
    //     no need to edit anything else
    max-width: 1200px;
    font-family: graphikmedium;
    //Any value you want
    padding: 0 1.67%;
    font-size: ms(2);
    margin: auto;
    text-align: center;
}
//Flexbox container
.flex-container {
     margin: 1.2rem;
   // background-color: slategray;
    //Remove the margin from the last flexbox container
    &:last-of-type {
       // margin-bottom: 0;
    }
    @include forLargeScreens(640) {
        
        display: flex;
    } 


    //DIVs inside the flex container
    [class*="level-"] {
        width: 100%;
        
        @include forLargeScreens(640) {
              margin-right: .2rem  ;
        }
        border: thin solid black;
        &:first-of-type { margin-left: 0; }
        &:last-of-type { margin-right: 0; }



        &.content- {

            //will be colored if you are greater than 640
            //otherwise back to black
            //oddball percentages force adjustment of boxes
             background-color: blue;
              &70 {  background-color: blue;   
                     color: yellow; }
                &30 {  background-color: blue;   
                     color: yellow; }
             
             
            @include forLargeScreens(640) {
               
                
                &70 { width: 70%;background-color: red;  
                     color: yellow; }
                &30 { width: 30%;background-color: red;  
                     color: yellow; }
                  

            } 
            
          
        }
    }

    nav {
        width: 100%;
        @include forLargeScreens(640) {
            width: 33%;
            margin-right: 1.67%;
        }

    }

  
}

  section {
        width: 100%;
        margin-top: 3rem;
        @include forLargeScreens(640) {
            
        }
         padding: 1px;
        background-color: goldenrod;

    }
