footer
{

    background-color: $color-secondary-1-1;
    .logo-text
    {
        font-family: graphikregularitalic;
        font-size: ms(0);
        text-align: left;
    }
    
    
    .group-header
    {
        font-family: graphikregularitalic;
        font-size: ms(3);
        border-bottom: thin solid $color-primary-1;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }

    .text-list-container
    {
        text-align: left;
        

            li
            {
                margin-top: 2rem;
                font-size: ms(1);
              //  display: inline-block;
                font-family:'foundation-icons';
                
            &:before
                {
                content: "\f1f5";
                //display: table; 
            }
            
            .list-text
            {
                margin-left: 4%;
                font-size: ms(0)
            }
        }
    }

    .contact-list-container{
        text-align: left;
        font-size: ms(3);
        li {
            margin: 5%;
            .right
            {
                float: right;
                margin-right: 5%;
            }
        }

    }

    .footer-group
    {
        border-right: none;
        margin-bottom: 2%!important;
        background-color: $color-primary-0;
        color: $color-primary-1;
        font-size: ms(2);
        text-align: center;
        padding: 4% 4%;
        
        &:last-of-type
            {

            margin-bottom: none;
            
        }

        @include forLargeScreens(640) {


            border-right: thin solid $color-primary-1;
            margin-bottom: none;
            padding: 0% 4%;
            &:last-of-type
                {
                border-right: none;

            }

        } 


    }

}

