.content-section
{
     
}

.sub-container {
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
 

    @include forLargeScreens(640) {


    } 


    //DIVs inside the flex container
    [class*="level-"] {

        height: 15rem;
        @include forLargeScreens(640) {

        }
        border: thin solid black;
        &:first-of-type { margin-left: 0; }
        &:last-of-type { margin-right: 0; }



        &.content- {


            &50
            {
                width:100%;
                margin: 0%;
                @include forLargeScreens(640) {
                    width:50%;
                    &.small-margin
                    {
                        width:49%;

                    }

                } 
                &.small-margin
                {
                    margin: 0%;
                    @include forLargeScreens(640) {
                        margin: 1%;
                        &:first-of-type
                            {
                            margin-left: 0%;
                        }
                        &:last-of-type
                            {
                            margin-right: 0%;
                        }
                    }
                }
            }

        }
    }




}