.sub-container {
     margin: 1%;
   
     
    @include forLargeScreens(640) {
        
        display: flex;
    } 


    //DIVs inside the flex container
    [class*="level-"] {
        width: 48%;
        
        @include forLargeScreens(640) {
              margin-right: .2rem  ;
        }
        border: thin solid black;
        &:first-of-type { margin-left: 0; }
        &:last-of-type { margin-right: 0; }



        &.content- {

            //will be colored if you are greater than 640
            //otherwise back to black
            //oddball percentages force adjustment of boxes
             background-color: blue;
              &70 {  background-color: blue;   
                     color: yellow; }
                &30 {  background-color: blue;   
                     color: yellow; }
             
             
            @include forLargeScreens(640) {
               
                
                &70 { width: 70%;background-color: red;  
                     color: yellow; }
                &30 { width: 30%;background-color: red;  
                     color: yellow; }
                  

            } 
            
          
        }
    }



  
}